{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>Versacoin Nodes</h3>
                <h4>Purpose</h4>
                <p>
                    Versacoin Nodes aims to map out and compare the status of versacoin networks.
                    These statistics are essential to evaluate the relative health of the network.
                </p>

                <h4>Overview</h4>
                <p>
                    Versacoin Nodes maps out the network by recursively connecting to nodes and issuing <i>getaddr</i>
                    commands. Any connected nodes that have been online in the past 24 hours are then added to the
                    crawl. Only nodes which are configured to allow remote connections and accept the handshake from the
                    crawler are included in the presented dataset. Nodes with a version number below the minimum are
                    also excluded. All nodes are designated as "Active" or "Inactive" based on the last reported block
                    height. If the node's block height is more than an hour out of consensus with the network median
                    then it is flagged as inactive.
                </p>

                <h5>The following constants are used for the handshake:</h5>
                <ul>
                    <li><b>Versacoin:</b>
                        <ul>
                            <li><i>Magic number:</i> e4e2f4e9</li>
                            <li><i>Protocol version:</i> 70015</li>
                            <li><i>Minimum version:</i> 70001</li>
                        </ul>
                    </li>


                Some user agents are excluded from the result set based on the following regular expressions:
                <ul>
                    <li>/BitcoinJ.*?</li>
                </ul>
            </div>
        </div>

    </div>

    {% include 'footer.html' %}
{% endblock %}